@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-gugi: "Gugi", sans-serif;
  --font-body: "Poppins", sans-serif;
  --color-primary: #F9F0EA;
  --color-secondary: #AA5321;
  --color-tertiary: #B29684;
  --color-highlight: #D90000;
}

html {
  font-family: var(--font-body);
}

body {
  background-color: var(--color-primary);
}
